* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
    min-width: 430px;
}

header {
    position: fixed;
    background: rgb(55, 117, 153);
    height: 80px;
    width: 100%;
    
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

header ul {
    float: right;
    margin-right: 40px;
}

header ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

header ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    text-transform: uppercase;
    border-radius: 3px;
}

a.active, a:hover {
    background: rgb(83, 143, 161);
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
} 
#check {
    display: none;
}

section {
    height: 100vh;
    width: 100%;
}

section#about {
    display: flex;
    flex-wrap: wrap;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;

}
img {
    width: 500px;
    height: 500px;
    object-fit: contain;
    margin: 10px 20px 20px 40px;

}

.credential {
    width: auto;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}


section#skills {
    background: rgb(163, 162, 189);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,60,26,0.8099614845938375) 37%, rgba(0,212,255,1) 100%);


}
section#experience {
    background-color: rgba(175, 15, 167, 0.486);
}
section#education {
    background-color: rgba(23, 4, 48, 0.486);
}



@media (max-width: 952px){
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    header ul li a {
        font-size: 16px;

    }
}

@media (max-width: 858px){
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    header ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    header ul li a {
        font-size: 20px;
    }
    a:hover, a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }

    section#about {
        height: auto;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        
    }
}